/* Project CSS 
============================================================
============================================================*/

body {
    background: #8c8c8c;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .90em;
}

#content {
    width: 90%;
    margin: 0 auto;
}
/* HEADER ============================== */

header img {
    max-width: 100%;
    margin-bottom: 10px;
}

/* ABOUT ============================== */

section#about img {
    width: 100%;
}

#about{
    padding: 0;
    background: url(images/fabiola-1.jpg) no-repeat center;
    background-size: cover;
    border: solid 2em #303030;
}
/* COMPONENTS ============================== */
