<!DOCTYPE html>
<html>
<head>
    <title>WSP: Fabiola Ortiz-Alvarez</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h3>our team</h3>
        <article>
            <img src="images/img01.jpg" alt="">
            <p>Natalie Barnes</p>
            <p>Director</p>
            <!-- Inline list -->
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            <!-- END Inline list -->
        </article>
        <article>
            <img src="images/img02.jpg" alt="">
            <p>Dayle Peters</p>
            <p>Manager</p>
            <!-- Inline list -->
            <ul>
                <li><a href="#"></a>Twitter</li>
                <li><a href="#"></a>Facebook</li>
                <li><a href="#"></a>LinkedIn</li>
            </ul>
            <!-- END Inline list -->
        </article>
        <article>
            <img src="images/img03.jpg" alt="">
            <p>Eva Adamson</p>
            <p>Manager</p>
            <!-- Inline list -->
            <ul>
                <li><a href="#"></a>Twitter</li>
                <li><a href="#"></a>Facebook</li>
                <li><a href="#"></a>LinkedIn</li>
            </ul>
            <!-- END Inline list -->
        </article>
        <article>
            <img src="images/img04.jpg" alt="">
            <p>Thomas Bishop</p>
            <p>Legal Assistant</p>
            <!-- Inline list -->
            <ul>
                <li><a href="#"></a>Twitter</li>
                <li><a href="#"></a>Facebook</li>
                <li><a href="#"></a>LinkedIn</li>
            </ul>
            <!-- END Inline list -->
        </article>
        <p>We work for your satisfaction!</p>
        <a href="#" class="btn">join our team</a>
	</section>
	<!-- End Component -->
	
</body>
</html>