<!DOCTYPE html>
<html>
<head>
	<title>WSP: Fabiola Ortiz-Alvarez</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
        <h1><a href="#">Zuw</a></h1>
    </header>
    <nav>
        <ul class="sf-menu">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#about">About</a>
                <ul>
                    <li><a href="#">history</a></li>
                    <li><a href="#">offers</a></li>
                    <li><a href="#">news</a>
                        <ul>
                            <li><a href="#">fresh</a></li>
                            <li><a href="#">archives</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#services">Services</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </ul>
    </nav>
	<!-- End Component -->
	
</body>
</html>