<!DOCTYPE html>
<html>
<head>
    <title>WSP: Fabiola Ortiz-Alvarez</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<article>
			<img src="images/img1.jpg" alt="photo">
            <ul>
                <li><a href="#">Appetizers</a>
                </li>
                <li><a href="#">Salads</a>
                </li>
                <li><a href="#">Baked Pastas</a>
                </li>
                <li><a href="#">Pastas</a>
                </li>
                <li><a href="#">Chicken, Veal &amp; Beef</a>
                </li>
                <li><a href="#">Sides</a>
                </li>
                <li><a href="#">Desserts &amp; Beverages</a>
                </li>
                <li><a href="#">Delivery Packages</a>
                </li>
            </ul>
			<h4>FEATURED DISHES</h4>
			<p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
			<a href="#" class="btn">view more</a>
		</article>
        <article>
            <img src="images/img2.jpg" alt="photo">
                <ul>
                    <li><a href="#">Appetizers</a>
                    </li>
                    <li><a href="#">Flatbreads</a>
                    </li>
                    <li><a href="#">Soups &amp; Salads</a>
                    </li>
                    <li><a href="#">Sandwiches</a>
                    </li>
                    <li><a href="#">Lunch Combinations</a>
                    </li>
                    <li><a href="#">Pastas</a>
                    </li>
                    <li><a href="#">The Standards</a>
                    </li>
                    <li><a href="#">On The House Classic Pastas</a>
                    </li>
                    <li><a href="#"> Meal For Two</a>
                    </li>
                    <li><a href="#">Chef Requests</a>
                    </li>
                </ul>
            <h4>lunch menu</h4>
            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            <a href="#" class="btn">view more</a>
        </article>
		<article>
            <img src="images/img3.jpg" alt="photo">
            <ul>
                <li><a href="#">Appetizers</a>
                </li>
                <li><a href="#">Soups &amp; Salads</a>
                </li>
                <li><a href="#">On The House Classic Pastas</a>
                </li>
                <li><a href="#">Meal For Two</a>
                </li>
                <li><a href="#">Specialty Pastas</a>
                </li>
                <li><a href="#">Chicken</a>
                </li>
                <li><a href="#">Seafood</a>
                </li>
                <li><a href="#">Veal &amp; Beef</a>
                </li>
                <li><a href="#">Sides</a>
                </li>
            </ul>
            <h4>dinner menu</h4>
            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            <a href="#" class="btn">view more</a>
        </article>
        <article>
            <img src="images/img4.jpg" alt="photo">
            <ul>
                <li><a href="#">Desserts</a>
                </li>
                <li><a href="#">Coffee &amp; Tea</a>
                </li>
                <li><a href="#">After Dinner Drinks</a>
                </li>
                <li><a href="#">Dessert Wine</a>
                </li>
                <li><a href="#">Ports</a>
                </li>
            </ul>
            <h4>Dessert Menu</h4>
            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            <a href="#" class="btn">view more</a>
        </article>
        <article>
            <img src="images/img5.jpg" alt="photo">
            <ul>
                <li><a href="#">Happy Hour &amp; More</a>
                </li>
                <li><a href="#">Handcrafted Cocktails &amp; </a>
                </li>
                <li><a href="#">Beer</a>
                </li>
                <li><a href="#">White Wines</a>
                </li>
                <li><a href="#">Red Wines</a>
                </li>
            </ul>
            <h4>Beverages Menu</h4>
            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            <a href="#" class="btn">view more</a>
        </article>
        <article>
            <img src="images/img6.jpg" alt="photo">
            <ul>
                <li><a href="#">Appetizers</a>
                </li>
                <li><a href="#">Flatbreads</a>
                </li>
                <li><a href="#">Soups &amp; Salads</a>
                </li>
                <li><a href="#">Sandwiches</a>
                </li>
                <li><a href="#">Classic Pastas</a>
                </li>
                <li><a href="#">Specialty Pastas</a>
                </li>
                <li><a href="#">Chicken</a>
                </li>
                <li><a href="#">Seafood</a>
                </li>
                <li><a href="#">Veal &amp; Beef</a>
                </li>
                <li><a href="#">Sides</a>
                </li>
            </ul>
            <h4>Carryout Menu</h4>
            <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            <a href="#" class="btn">view more</a>
        </article>
	</section>
	<!-- End Component -->
	
</body>
</html>