<!DOCTYPE html>
<html>
<head>
	<title>WSP: Fabiola Ortiz-Alvarez</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
</head>
<body>

	<!-- Component -->
	<section>
        <h3>What's Happening?</h3>
        <article>
            <img src="images/slide1.jpg" alt="photo">
            <section class="caption">
                <time datetime="2015-10-27">27/10/2015</time>
                <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            </section>
        </article>
        <article>
            <img src="images/slide2.jpg" alt="photo">
            <section class="caption">
                <time datetime="2015-10-22">22/10/2015</time>
                <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            </section>
        </article>
        <article>
            <img src="images/slide3.jpg" alt="photo">
            <section class="caption">
                <time datetime="2015-10-15">15/10/2015</time>
                <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            </section>
        </article>
        <article>
            <img src="images/slide4.jpg" alt="photo">
            <section class="caption">
                <time datetime="2015-10-11">11/10/2015</time>
                <p>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
            </section>
        </article>
    </section>
	<!-- End Component -->
	
</body>
</html>