/* Component Stylesheet 
============================================================
============================================================*/

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section:before, section:after {
    content: "";
    display: table;
}

h3 {
    width: 970px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: #898a8a;
    font-size: 38px;
    margin: 20px -15px 10px -15px;
}

article {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 22px;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    clear: right;
}

img {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.caption {
    padding-top: 25px;
    padding-bottom: 10px;
    width: 200px;
}

time {
    font-size: 30px;
    font-weight: 900;
    color: #898a8a;
}

p {
    color: #acacac;
    line-height: 24px;
    font-size: 14px;
}